includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level 0 is the loosest and level 9 is the strictest
    level: 5

    excludePaths:
        - ./*/*/FileToBeExcluded.php
