parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),App\\Models\\Task\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Repositories/TaskRepository.php
